<div class="container">
  <button (click)='onShow()' class='btn btn-success'>Add New Book</button>
  <div class='x' *ngIf='show'>
    <input type="text"><br>
    <input type="text"><br>
    <input type="text"><br>
    <input type="text"><br>
    <input type="text">
  </div>
  <div class="row">
    <div class="col-md-4" *ngFor='let item of list'>
      <div class="book-item">
        <div class='img'>
          <img src="https://images.gr-assets.com/books/1488444615l/34446353.jpg" alt="">
        </div>
        <div class="title">
          <p>{{item.Title}}</p>
          <p>{{item.Description}}</p>
          <p>{{item.PublishDate}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
